<p id="notice"><%= notice %></p>

<h1>Listing Cases</h1>

<table>
  <thead>
    <tr>
      <th>Event date</th>
      <th>Event type</th>
      <th>Pti urn</th>
      <th>Version</th>
      <th>Case markers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.event_date %></td>
        <td><%= case.event_type %></td>
        <td><%= case.pti_urn %></td>
        <td><%= case.version %></td>
        <td><%= case.case_markers %></td>
        <td><%= link_to 'Show', case %></td>
        <td><%= link_to 'Edit', edit_case_path(case) %></td>
        <td><%= link_to 'Destroy', case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
